{% extends 'base.html' %}
{% block content %}

<!-- Today's weather:  -->

<section class="weather-form">
    <h2>What's the weather like today?</h1>

    <form action="/results" method="GET">
        <fieldset>
            <legend>Please enter your information:</legend>

            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="city">
                </label> </br>
                <label>
                    Please enter your state: <br>
                    <input type="text" name="state">
                </label> 
            </p>

            <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="units" value="imperial">
                    Fahrenheit
                </label><br>
                <label>
                    <input type="radio" name="units" value="kelvin">
                    Kelvin
                </label>
            </p>

            <p>
                <input type="submit" value="Submit">
            </p>

        </fieldset>
    </form>
</section>

<!-- Historical data: -->

<section class="weather-form">
    <form action="historical_results" method="GET">
        <h2>See Historical Data</h1>
        <fieldset>
            <legend>Please enter your information:</legend>

            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="city">
                </label>
            </p>

            <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="units" value="imperial">
                    Fahrenheit
                </label><br>
                <label>
                    <input type="radio" name="units" value="kelvin">
                    Kelvin
                </label>
            </p>

            <p>
                <label>
                    Please choose the date you'd like info on (within the past five days): <br>

                    <input type="date" name="date" min="{{ min_date.strftime('%Y-%m-%d') }}" max="{{ max_date.strftime('%Y-%m-%d') }}">
                </label>
            </p>

            <p>
                <input type="submit" value="Submit">
            </p>
        </fieldset>
    </form>
</section>

<!-- Forecast:  -->

<section class="weather-form">
    <form action="forecast_results" method="GET">
        <h2>Prepare for This Week's Weather</h1>
        <fieldset>
            <legend>Please enter your information:</legend>

            <p>
                <label>
                    Please enter your city: <br>
                    <input type="text" name="city">
                </label>
            </p>

            <p>
                Please choose your desired units: <br>
                <label>
                    <input type="radio" name="units" value="metric">
                    Celsius
                </label><br>
                <label>
                    <input type="radio" name="units" value="imperial">
                    Fahrenheit
                </label><br>
                <label>
                    <input type="radio" name="units" value="kelvin">
                    Kelvin
                </label>
            </p>

            <p>
                <label>
                    Please choose the date you'd like info on (up to four days ahead): <br>

                    <input type="date" name="date" min="{{ min_date.strftime('%Y-%m-%d') }}" max="{{ max_date.strftime('%Y-%m-%d') }}">
                </label>
            </p>

            <p>
                <input type="submit" value="Submit">
            </p>
        </fieldset>
    </form>
</section>


{% endblock content %}
